@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: rgba(26, 11, 46, 1);;
}


/* shared styles  */
.display-flex{
    display: flex;
}

.text-color{
    color: #FFFFFF; 
}
#width{
    max-width: 100%;
    margin: 0px 10%; 
}

.btn{
      background: linear-gradient(135deg, #fbbf24, #ec4899, #a855f7, #6366f1);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}


/* navbar style  */

.navbar{
    justify-content: space-between;
    align-items: center;
   

}
.logo{
font-size: 2.5rem;
}
#wave{
background: linear-gradient(135deg, #a855f7 0%, #ec4899 50%, #fbbf24 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#hamburger{
    display: none; 
    height: 20px;
    width: 20px;
 
}
.nav-item{
    list-style: none;
    margin-right: 20px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
   
}




/* Media Query  */

@media screen and (max-width: 576px){
#hamburger{
    display: flex;
}
.nav-item{
    display: none;
}
#nav-button{
    display: none;
}
}

